@charset "utf-8";

* {
  list-style: none;
  list-style-type: none;
}

body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

#main {
  width: 800px;
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.entete {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  box-sizing: border-box;
  width: 100%;
  background: #343a40;
  color: #FFFFFF;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 700;
}


.conteneur {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #dfdfdf;
  padding: 0;
  margin: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
}

.conteneur .titre {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  background: #f7f7f7;
  color: 212529;
  text-align: left;
  padding: 12px 20px;
  position: relative;
}
.conteneur #nbpackets {
  display: float;
  box-sizing: border-box;
  float: right;
}

.conteneur .body {
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  min-height: 200px;
  width: 100%;
}
.conteneur .footer {
  padding: 12px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #6c757d;
  background:#f7f7f7;
}


input.primary {
  background-color:rgba(93, 120, 255, 0.1);
  color: #5d78ff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  width: auto;

}
input.primary:hover {
  background-color: #5d78ff;
  color:#ffffff;
  cursor: pointer;
}